<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img1.jpg" alt="blog1" />
            <h3>Readit Blog</h3>
            <p>by <span>John Green</span> on <span>Jan 15, 2018</span></p>
            <p>Readit is a remarkable free creative blog website template with a bold. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.jpg" alt="blog2" />
            <h3>Mini Blog</h3>
            <p>by <span>Ross Geller</span> on <span>March 22, 2018</span></p>
            <p>Miniblog - hence the name - is a free minimal blog website template. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img3.jpg" alt="blog3" />
            <h3>Tech Blog</h3>
            <p>by <span>Emma Radium</span> on <span>November 17, 2018</span></p>
            <p>Tech Blog is the free HTML personal blog website template that you need. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
